@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import './_variables.scss';
@import './_animations.scss';
html {
    background-color: $light-dark;
    height: 100%;
    overflow: hidden;
}
body{
    background-color: $light-dark;
    overflow: scroll;
    height: 100%;
}
#app{
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.bg-color{
    background-color: $light-dark;
}
.form-control, 
.input-control{
    border-radius: 2px;
}
*::-webkit-scrollbar {
    width: .25em;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
.text-decoration-line-through{
    text-decoration: line-through;
}

.productGroup {
  background-color: $light;
  padding: 0 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px transparentize($color: $dark, $amount: 0.8);
  .productDetails {
    p {
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .productGroupHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    .groupTitle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    h5,
    p {
      margin-bottom: 0;
    }
    img {
      max-width: 3rem;
      margin-right: 0.5rem;
    }
  }
}